<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Logintest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04046B3F1F2FAA9B00E0802C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04046B531F2FAA9C00E0802C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04643CE51F33A66D00ED6E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04643D041F33AC2200ED6E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
